image: registry.gitlab.com/gitlab-org/terraform-images/releases/1.4:v1.0.0

stages:
  - test
  - cleanup

workflow:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_MERGE_REQUEST_ID
      when: never
    - when: always

variables:
  TF_ROOT: ${CI_PROJECT_DIR}
  TF_STATE_NAME: default

.test-vagrant:
  image: registry.gitlab.ics.muni.cz:443/muni-kypo-images/docker-image-builder/packer:latest
  stage: test
  script:
# Add 'vb.gui = false' after every 'device.vm.provider "virtualbox" do |vb|'
    - sed -i -E 's/((\s+)device\.vm\.provider\s+"virtualbox"\s+do\s+\|([^\|]+)\|)/\1\n\2  \3.gui = false/' Vagrantfile
    - vagrant up
  tags:
    - image-builder

test-kypo:
  stage: test
  script:
    - gitlab-terraform plan
    - gitlab-terraform plan-json
    - gitlab-terraform apply
  resource_group: ${TF_STATE_NAME}
  cache:
    key: "${TF_ROOT}"
    paths:
      - ${TF_ROOT}/.terraform/
  artifacts:
    paths:
      - ${TF_ROOT}/user-ansible.txt
      - ${TF_ROOT}/networking-ansible.txt
      - ${TF_ROOT}/terraform.txt
    reports:
      terraform: ${TF_ROOT}/plan.json

terraform-destroy:
  stage: cleanup
  script:
    - gitlab-terraform destroy
  resource_group: ${TF_STATE_NAME}
  cache:
    key: "${TF_ROOT}"
    paths:
      - ${TF_ROOT}/.terraform/
  when: delayed
  start_in: 1 week
